@import "../../app/utils/layout.scss";

.tabla {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  .trash {
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    // border: 1px solid #ccc;
  }

  thead {
    background-color: rgb(185, 251, 250);
  }

  tbody tr:nth-child(even) {
    background-color: rgba(185, 251, 250, 0.2);
  }
}
.total {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button,
.disable,
.active {
  border-radius: 5px;
  background: #fff;
  font-size: 24px;
  width: 50px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  cursor: pointer;
}
.disable {
  border: 1px solid #dadada;
  color: #dadada;
}
.active {
  border: 1px solid #646966;
  color: #646966;
}
.containerQuantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90px;
}