@import "../../utils/layout.scss";
.wrapper {
  max-width: 900px;
  margin: 80px auto;
  padding: 1rem;
  // position: relative;
}

.container {
  padding: 8px;

  .infoProduct {
    border-top: 1px solid #eceaea;
    // border-bottom: 1px solid #eceaea;
    padding: 8px;
    h3 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
      color: #333;
    }
    p {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }
    .stock {
      display: flex;
      align-items: center;

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: #333;
      }
      .stockCircle {
        background-color: $color__primary;
        border-radius: 5px;
        padding: 0.1rem 0.3rem;
        margin-left: 8px;
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
  transition: all 0.3s ease-in-out;
}

.image {
  border-radius: 5px;
  object-fit: contain;
  width: 100%;
  // height: 200px;
}
