@import "./utils/layout.scss";
.app {
  width: 100%;
  &.light {
    background-color: $color__secondary;
    color: $color__text;
  }
  &.dark {
    background-color: $color__secondary--dark;
    color: $color__text--dark;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &.light {
    background-color: $color__secondary;
    color: $color__text;
  }
  &.dark {
    background-color: $color__secondary--dark;
    color: $color__text--dark;
  }
}
