@import "../../app/utils/layout.scss";

.header {
  max-width: 900px;
  width: 100%;
  margin: auto;
  height: 60px;

  .header_fixed {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    z-index: 9999;
    &.light {
      background: $color__secondary;
      color: $color__text;
    }
    &.dark {
      background: $color__secondary--dark;
      color: $color__text--dark;
    }

    h1 {
      font-size: 18px;
    }
  }

  // &.light {
  //   background: $color__secondary;
  //   color: $color__text;
  // }
  // &.dark {
  //   background: $color__secondary--dark;
  //   color: $color__text--dark;
  // }
}
