.wrapper {
  max-width: 900px;
  margin: 80px auto;
  padding: 1rem;
  // position: relative;
}
.containerProducts {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
