@import "../../app/utils/layout.scss";
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 122px;
  /* margin-top: 15px; */
}
.wrapper p {
  // color: #646966;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;

  &.dark {
    color: #fff;
  }
}

.button,
.disable,
.active {
  border-radius: 5px;
  font-size: 24px;
  width: 50px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  cursor: pointer;

  &.light {
    background-color: $color__secondary;
  }
  &.dark {
    background-color: $color__secondary--dark;
  }
}
.disable {
  border: 1px solid #dadada;
  color: #dadada;
  &.dark {
    border: 1px solid #646966;
    color: #646966;
  }
}
.active {
  border: 1px solid #646966;
  color: #646966;
  &.dark {
    border: 1px solid #fff;
    color: #fff;
  }
}
