// Colores principales
$color__primary: #b9fbfa;
$color__secondary: #FFF;
$color__text: #000;
// Colores oscuros
$color__primary--dark: #000103;
$color__text--dark: #fffffa;
$color__secondary--dark: #515052;
